<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OMG Movies!</title>
    <meta name="description" content="A cool bot">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://button.glitch.me/button.js"></script>
  </head>
  <body>
    
  <div class="Glitch">
    <a href="https://glitch.com/edit/#!/remix/omg-movies" class="Remix">
    <img src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fremix%402x.png?1513093958726" alt="remix button" aria-label="remix" height="33">
  </a>
    <div class="glitchButton"></div>
    </div>
    
    <div class="Tweets">
      
    
    <a class="twitter-timeline" href="https://twitter.com/omg_movies?ref_src=twsrc%5Etfw">Tweets by omg_movies</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
  </body>
</html>
